[submodule "workspaces/SimpleZoom"]
	url = https://github.com/UnRealDinnerbone/SimpleZoom-Fabric
[submodule "workspaces/TrampleStopper"]
	url = https://github.com/UnRealDinnerbone/TrampleStopper-Fabric
[submodule "workspaces/LeatherCows"]
	url = https://github.com/UnRealDinnerbone/LeatherCows-Fabric
[submodule "workspaces/ReloadAnnouncer"]
	url = https://github.com/UnRealDinnerbone/ReloadAnnouncer-Fabric
[submodule "workspaces/SimpleFireworks"]
	url = https://github.com/UnRealDinnerbone/SimpleFireworks-Fabric
[submodule "workspaces/Cookies"]
	url = https://github.com/manmaed/Cookies
